/* CoffeeShop.css */

.hero-section {
  height: 70vh;
  background-image: url("./assets/img/Banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  margin-top: 160px;
  border-radius: 1rem;
  max-width: 36rem;
  text-align: center;
}

.text-base {
  text-align: justify;
}

.bg-map {
  color: #11aab8 !important;
}
